button.btn.btn-primary {
    margin-left: 23px;
}
section.Header {
    background-color: #0e0d0cf7;
}
a.nav-link.active {
    color: white !important;
}

button.navbar-toggler.collapsed {
    background-color: white;
}

a.nav-link {
    color: #CDCDCD !important;
    font-weight: 600;
}
@media screen and (min-width: 320px) and (max-width: 425px){
    
}
@media screen and (min-width: 425px) and (max-width: 768px){
     
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    
}
@media screen and (min-width: 1024px) and (max-width: 1200px){
   
}

@media screen and (min-width: 1200px) and (max-width: 1440px){
  
}
